@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/utilities";

.customSelect {
  position: relative;
  width: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  p {
    margin: 0;
  }

  .selectInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 1px;
    border: 1px solid variables.$borderForm;
    border-radius: 7px;
    cursor: pointer;
    background-color: variables.$white;

    &:focus {
      outline: none;
      border: 1px solid variables.$focusInput;
    }

    input {
      cursor: pointer;
      position: relative;
      z-index: 2;
      margin: 0px;
      border: none;
      width: 100%;
      color: #656565;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
    }

    .arrow {
      margin-right: 8px;
      transition: 0.5s all;
    }
    .topTriangle {
      transform: rotate(180deg);
    }
    .buttonTriangle {
      transform: rotate(360deg);
    }
  }

  .optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: variables.$white;
    border: 1px solid variables.$borderForm;
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
    max-height: 160px;
    overflow-y: auto;
    border-radius: 7px;
    @include mixins.custom_scrollbar();
    z-index: utilities.z-index(double);

    .option {
      padding: 8px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      color: variables.$black;
      font-size: 14px;
      transition: 0.5s all;

      &:hover {
        background-color: variables.$selectedOptions;
      }

      &.selected {
        font-weight: bold;
        background-color: variables.$selectedOptions;
      }

      &:focus-visible {
        background-color: variables.$selectedOptions;
        outline: none;
      }

      .check {
        color: green;
        font-size: 16px;
        margin-left: 8px;
      }
    }
  }

  .containerSelectedLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .selectedLabel {
      margin-top: 8px;
      font-size: 14px;
      cursor: default;
      margin-top: 4px;
    }

    > span {
      color: variables.$red;
      margin-bottom: -6px;
      font-size: 12px;
      cursor: pointer;

      &:focus-visible {
        outline: 2px solid variables.$red;
      }
    }
  }
}
