.botTrainingsPage {
  width: 100%;
  min-height: 100vh;
  padding-top: 6vh;
  padding-bottom: 30px;

  .addBotTrainingAction {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .addBotTrainingActionSearch {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
    }
  }

  .containerTable {
    min-height: 352px;
    margin-bottom: 20px;

    .additionalActionsTable {
      display: flex;
      flex-direction: column;

      .additionalActionsContainer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .loader {
    margin-top: 200px;
  }
}
