.botTrainingSelected {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 15vh;

  .botTrainingSelectedContainer {
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .botTrainingSelectedContainerData {
      position: relative;
      width: 100%;
      min-height: 80vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 10vh;
    }
  }
}
