.clientsBySeller {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 85vh;

    > h1 {
        font-weight: utilities.font-weight(semibold);
        color: $primaryDefault;
    }
    
    .clientSearchContainer {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
      gap: 20px;

      > span {
        font-weight: 400;
        font-size: 28px;
        color: #003B5F;
        cursor: pointer;
      }
    }
}