@use "../../styles//variables";

.tableContainer {
  width: 100%;

  .table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    cursor: default;
    border: none;

    tr {
      border-top: none;
    }

    th,
    td {
      padding: 10px;
      text-align: left;
      border: none;
      overflow: hidden;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }

    .columnSmall {
      width: 80px;

      .columnSmallIcon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .containerButtonTable {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 10px;

      .iconActions {
        cursor: pointer;
      }
    }
  }

  .columnList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .columnListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid variables.$borderForm;
    border-radius: 7px;
    margin-bottom: 6px;
    background-color: variables.$white;
    cursor: grab;

    > span {
      cursor: pointer;
    }
  }
}
