@use "../utilities";

.clientCard {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
    gap: 8px;

    p {
        margin:  0;
        font-size: 14px;
        &::first-letter {
            text-transform: uppercase;
       }
    }

    .containerSurveyDescription {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 11px;

        .surveyDescription {
            min-width: 70%;
            max-width: 70%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 5px;

            .nameSurvey {
                font-weight: utilities.font-weight(semibold);
                font-size: 16px;
                color: $primaryDefault;
            }

            .indications,
            .seeMore {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: $primaryDefault;
            }

            .indications {
                gap: 8px;
                font-weight: utilities.font-weight(regular);
            }
            .seeMore {
                gap: 2px;
                font-weight: utilities.font-weight(semibold);
                span {
                    font-weight: utilities.font-weight(semibold);
                }
            }
        }

        .surveyButton {
            min-width: 30%;
            max-width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            > .Button {
                transition: opacity 0.5s ease-in-out;

                &.primary.show {
                    opacity: 1;
                }
                &.primary.hide {
                    opacity: 0;
                }
            }
        }
    }

    .containerSurveyMoreInfo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition:  z-index 0.5s ease-in-out, opacity 0.5s ease-in-out, max-height 0.5s linear;
        max-height: 0;
        opacity: 0;
        z-index: utilities.z-index(back);

        .titleSurvey {
            color: $primaryDefault;
            font-weight: utilities.font-weight(semibold);
        }
        .containerDataSurvey {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;

        }

        .containerInfoSurvey {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 5px;
            padding-bottom: 8px;
        }

        .containerButtonSurvey {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 8px;
            border-top: 1px solid $grayLight;

            .stateSurvey {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 15px;
                border-radius: 5px;
                color: $primaryDefault;
                font-weight: utilities.font-weight(semibold);
            }
            > .Button {
                padding: 0px 25px !important;
            }
        }

        &.show {
            transition:  z-index 0.5s ease-in-out, opacity 0.5s ease-in-out, max-height 0.5s linear;
            opacity: 1;
            z-index: utilities.z-index(basic);
            max-height: 300px;
        }
    }

}