@use "../media-queries";
@use "../utilities";

.layout {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 120px;

  .children {
    min-width: 80%;
    max-width: 80%;
    min-height: 100vh;
    flex-direction: column;

    @media #{media-queries.$max-sm} {
      min-width: 95%;
      max-width: 95%;
    }
  }
}
