.search {
    position: relative;

    form .textField {
        .input {
            border: 2px solid $primaryDefault;
            border-radius: 5px;
        }
        #icon {
            bottom: 0.3rem;
            font-size: 25px;
        }
        .empty {
            color: $grayLight;
        }
    }
}