@use "../utilities";

.sellerCard {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    
    p {
        margin:  0;
        font-size: 14px;
        &::first-letter {
            text-transform: uppercase;
       }
    }

    .sellerDescription {
        min-width: 70%;
        max-width: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;

        .nameSeller {
            font-weight: utilities.font-weight(semibold);
            font-size: 16px;
            color: $primaryDefault;
        }
    }

    .routesBySellerButton {
        min-width: 30%;
        max-width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > .Button {
            font-weight: utilities.font-weight(semibold);
            padding: 0;
        }
    }
}