@import "../variables";

.buttonTable {
  padding: 7px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-size: 15px;
  gap: 5px;
  min-width: 70px;
}

.table {
  &.custom-bg {
    --bs-table-bg: none;
  }
  .containerButtonTable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  .tableThead {
    background-color: $greenApp;
    tr {
      background-color: $greenApp;
      th {
        background-color: $greenApp;
        color: $white;
        text-align: center;
      }
    }
  }
}
