@use "../../styles/variables";
@use "../../styles/utilities";

.containerAdditionalActions {
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .buttonAdditionalActions {
    outline: none;
    border: 1px solid variables.$borderForm;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s all;
    width: 115px;

    &:hover {
      background-color: variables.$selectedOptions;
      border: 1px solid variables.$selectedOptions;
    }
    &:focus {
      background-color: variables.$selectedOptions;
      &:not(:focus-visible) {
        background-color: variables.$white;
      }
    }

    &:disabled {
      border: 1px solid variables.$borderForm;
      background-color: variables.$borderForm;
      cursor: default;
    }
  }

  .containerActions {
    width: 100%;
    padding: 22px 0;
    border-bottom: 1px solid variables.$borderForm;

    .containerSelectors {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }

    .disabledOption {
      color: variables.$borderForm;
      cursor: not-allowed;
    }

    .resultActionsContainer {
      > h5 {
        font-weight: utilities.font-weight(regular) !important;
      }

      > h5,
      li {
        color: variables.$black;
      }

      > ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
        list-style-type: none;
        padding: 0;

        .tagItem {
          display: flex;
          align-items: center;
          background-color: variables.$selectedOptions;
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 14px;
          width: auto;
          list-style-type: none;

          .close {
            color: variables.$stateError;
            margin-left: 8px;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
