@use "../../styles/variables";
@use "../../styles/utilities";

.buttonAdditionalActions {
  outline: none;
  border: 1px solid variables.$borderForm;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s all;

  &:hover {
    background-color: variables.$borderForm;
  }

  &:focus {
    background-color: variables.$borderForm;
    &:not(:focus-visible) {
      background-color: variables.$white;
    }
  }

  &:disabled {
    background-color: variables.$white;
    cursor: default;
  }
}

.containerActions {
  margin-top: 8px;

  .containerSelectors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .resultActionsContainer {
    > h5 {
      font-weight: utilities.font-weight(regular) !important;
    }
    > h5,
    li {
      color: variables.$black;
    }
  }
}
