@use "../../styles/variables";

.textField {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  .textField label {
    display: block;
    margin-bottom: 8px;
  }
  .textField.primary {
    border-color: variables.$primaryDefault;
    &:focus {
      border-color: variables.$primaryDeactivated;
    }
  }
  .textField.secondary {
    border-color: variables.$details;
    &:focus {
      border-color: variables.$details;
    }
  }
  .textField.tertiary {
    border-color: variables.$primaryDefault;
    &:focus {
      border-color: variables.$primaryDeactivated;
    }
  }
  .textField.danger {
    border-color: variables.$stateError;
    &:focus {
      border-color: variables.$stateError;
    }
  }
  .textField.warning {
    border-color: variables.$stateError;
    &:focus {
      border-color: variables.$stateError;
    }
  }
  .textField.success {
    border-color: variables.$stateSuccess;
    &:focus {
      border-color: variables.$stateSuccess;
    }
  }
  .textField.info {
    border-color: variables.$details;
    &:focus {
      border-color: variables.$details;
    }
  }
  .textField.light {
    border-color: variables.$white;
    &:focus {
      border-color: variables.$white;
    }
  }
  .textField.dark {
    border-color: variables.$black;
    &:focus {
      border-color: variables.$black;
    }
  }
  .textField.link {
    border-color: transparent;
    &:focus {
      border-color: transparent;
    }
  }
}
