@use "../../styles/utilities";
@use "../../styles/variables";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: utilities.z-index(triple);
  background-color: #000000ce;

  &.open {
    display: block;
  }
  &.close {
    display: none;
  }

  .modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-height: 45%;
    max-width: 500px;
    max-height: 1200px;
    padding: 5px;
    background-color: variables.$white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    .close {
      position: absolute;
      top: 14px;
      right: 14px;
      color: variables.$black;
      font-size: 16px;
      cursor: pointer;
    }

    > .modalContent {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 26px;
      width: 100%;
      height: 100%;
      padding: 20px;

      label {
        color: variables.$black;
      }

      .textModal {
        width: 100%;
        text-align: center;
        color: variables.$black;
        font-weight: utilities.font-weight(semibold);
        font-size: 20px;

        p,
        h5 {
          color: variables.$colorApp;
        }
      }

      .containerButtonModalCreate {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 22px;
        gap: 12px;

        > button {
          min-width: 126px;
        }
      }

      .containerSpan {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 76px;

          &.alert {
            color: variables.$statePending;
          }
          &.check {
            color: variables.$stateSuccess;
          }
          &.error {
            color: variables.$stateError;
          }
        }
      }
    }
  }
}
