$colorApp: #202c33;
$colorAppHover: #384d5a;
$colorAppSecondary: #111b21;
$borderForm: #ddd;
$focusInput: #cccccc;
$selectedOptions: #e0e0e0;
$graySkeleton: #e7e8e9;
$white: #ffffff;
$black: #000000;
$grayLight: #b1b1b1;
$grayMid: #7c8395;
$grayDark: #656565;
$greenApp: #05a771;
$hoverGreenApp: #0f595a;
$red: #c71111;
$stateSuccess: #3bb439;
$stateError: #ed2f31;
$statePending: #ff6b00;
$stateInformation: #e2b027;
