$red: #c71111;
$tertiaryDefault: #2394c5;
$white: #ffffff;
$black: #000000;
$lightBlue: #ecf5ff;
$details: #fea95d;
$detailsDeactivated: #ffeedf;
$stateSuccess: #3bb439;
$stateError: #ed2f31;
$stateErrorDeactivated: #fab1b1;
$stateCanceled: #d3d347;
$statePending: #ff6b00;
$stateInformation: #e2b027;
$primaryDefault: #05a771;
$primaryDeactivated: #809daf;
$graySkeleton: #e7e8e9;
$grayLight: #b1b1b1;
$grayMid: #7c8395;
$grayDark: #656565;
$hover: #0f595a;
$selectedButtonMenu: #005181;
$skyBlue: #5fc9da;

$backgroundApp: #111b21;
$backgroundAppSecondary: #202c33;
$borderForm: #cccccc;
$focusInput: #a8a8a8;
