$redVipo: #F66363;
$tertiaryDefault: #2394C5;
$white: #FFFFFF;
$black: #000000;
$lightBlue: #ECF5FF;
$details: #FEA95D;
$detailsDeactivated: #FFEEDF;
$stateSuccess: #3BB439;
$stateError: #ED2F31;
$stateErrorDeactivated: #FAB1B1;
$stateCanceled: #D3D347;
$statePending: #FF6B00;
$stateInformation: #e2b027;
$primaryDefault: #003B5F;
$primaryDeactivated: #809DAF;
$graySkeleton: #E7E8E9;
$grayLight: #B1B1B1;
$grayMid: #7C8395;
$grayDark: #656565;
$hover: #002841;
$selectedButtonMenu: #005181;
$gradient: linear-gradient(90deg, rgba(0, 16, 95, 1) 50%, rgba(95, 201, 218, 1) 50%);
$skyBlue: #5FC9DA;