@use "../../styles/utilities";
@use "../../styles/variables";
@use "../../styles/fonts";
@use "../../styles/mixins";

form {
  margin: 0;
  padding: 0 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;

  .logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > h1 {
      font-family: fonts.$font-family-custom;
      margin-bottom: 36px;
    }
  }
  .messageForm {
    width: 100%;
    text-align: start;
    margin-top: 8px;
    p {
      margin: 0px;
      height: 24px;
    }
  }
  .help {
    margin-left: 10px;
    font-size: 12px;
    margin-top: 4px;
  }
  .textField {
    position: relative;
    width: 100%;
    #icon {
      position: absolute;
      display: block;
      bottom: 3.1rem;
      right: 1rem;
      user-select: none;
      cursor: pointer;
      z-index: utilities.z-index(double);
    }
    input,
    select,
    textarea {
      background-color: variables.$white;
      padding: 0px;
      padding: 5px 10px;
      position: relative;
      z-index: utilities.z-index(double);
      margin: 0px;
      border: none;
      width: 100%;
      color: variables.$grayDark;
      outline: none;
      border: 1px solid variables.$borderForm;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
      &.inputError {
        border: 1px solid variables.$stateError;
      }
    }
    input.input {
      padding-right: 2.5rem;
    }
    textarea {
      @include mixins.custom_scrollbar();
    }
  }
  .buttonContainerForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .Button.Button {
      width: 160px;
    }
  }

  &.active,
  &.focus {
    label {
      top: -20px;
      font-size: 10px;
    }
  }
}
