@use "../../styles/utilities";
@use "../../styles/variables";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100vh;
  background-color: #202c33;
  color: variables.$white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;

  .changeThemeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 6px;

    > span {
      font-size: 24px;
    }
  }

  .Button {
    font-size: 16px;
    padding: 4px 8px;
    justify-content: space-between;
    width: 100%;

    &.Button.tertiary {
      font-weight: utilities.font-weight(semibold);
      color: variables.$white !important;
    }

    > span {
      font-size: 24px;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }
}
